.register-mother-img{
    width: 100%;
    height: 99%;
    object-fit: contain;
    
}
.register-left-side{
    width:60%;
    height: 100vh;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}