.info-heading{
    width:800px;
<<<<<<< HEAD
    height:200px;
    font-size:50px;
=======
    height:300px;
    font-size:60px;
>>>>>>> 6ccfc54ccefe33969422cc98df87f867e43b7cc1
    font-weight:900;
    color:#8A2C2C;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }